body {
}

.center-margin {
    margin: 0 auto;
    float: none !important;
}

.profilePic {
    width: 35%;
    float: right;
    padding: 28px 15px 10px;
    color: white;
}

.main_menu span.fa {
    float: left !important;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
}

.nav {
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
}