@font-face {
    font-family: 'IRANSansWeb_Light';
    src: url('../fonts/IRANSansWeb_Light.woff') format('woff');
}

@font-face {
    font-family: 'IRANSansWeb_Medium';
    src: url('../fonts/IRANSansWeb_Medium.woff') format('woff');
}

@font-face {
    font-family: '';
    src: url('../fonts/IRANSansWeb_UltraLight.woff') format('woff');
}

*, #col-left, .container-fluid {
    margin: 0;
    padding: 0;
}

body {
    background-color: #adadad;
    font-family: IRANSansWeb_Light,Tahoma,sans-serif;
}